<div
  class="container grid grid-cols-[14rem_auto] bg-gray-200 min-h-screen max-w-full mx-auto"
>
  <!-- START MENUSIDE BAR-->
  <aside
    class="max-h-full grid grid-cols-1 grid-rows-[4rem_auto] gap-1 bg-slate-50 items-start"
  >
    <a class="inline-block justify-self-center" routerLink="/products">
      <img
        class="mt-2 h-14 w-32"
        src="../assets/images/logo.png"
        alt="Luv2shope logo"
      />
    </a>

    <app-product-category-menu></app-product-category-menu>
  </aside>
  <!-- END MENUSIDE BAR-->

  <div>
    <!-- START HEADER -->
    <header class="bg-slate-800 h-[4.32rem] flex justify-between items-center">
      <app-search></app-search>
      <app-login-status></app-login-status>
      <app-cart-status></app-cart-status>
    </header>
    <!-- END HEADER -->

    <!-- START MAIN CONTENT-->
    <router-outlet></router-outlet>
    <!-- END MAIN CONTENT-->
  </div>
</div>

<footer>
  <ul>
    <li><a href="#">About us</a></li>
    <li><a href="#">Contact us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>
